<div id="o-nas">

<!-- Page header -->
<section id="One" class="wrapper style3">
	<div class="inner">
		<header class="align-center">
			<p>Revize dětských, sportovních hřišť, tělocvičen, posiloven a lezeckých stěn</p>
			<h2>O nás</h2>
		</header>
	</div>
</section>

<!-- Page text -->
<section id="two" class="wrapper style2">
	<div class="inner">
		<div class="box">
			<div class="content">
				<!-- Page content -->
				<p>
					Od roku 2000 jsme ve spolupráci s firmou Sportin Praha působili v oblasti revizí sportovních
					zařízení, přičemž bylo naší snahou uvést svým zákazníkům všechna revidovaná dětská a sportovní
					hřiště, posilovny a tělocvičny do souladu s platnými normami ČSN EN.
					S postupným vývojem ve společnosti se zpřísňují bezpečnostní požadavky, upravují se znění norem
					a nařízení a ne vždy stačí provozovatelé sportovních zařízení a dětských hřišť držet krok s
					právě platnou legislativou. Pro výrobu a užívání tělocvičného nářadí, cvičebních ploch, dětských
					hřišť a činnost jejich provozovatelů byla vydána řada ČSN platných v souladu s evropskými
					normami (EN), kde je mj. stanoven i způsob provádění pravidelných revizních technických
					prohlídek.
					Naše nezávislá, certifikovaná firma nabízí všem zájemcům z oblasti školství, dále sportovním
					organizacím, provozovatelům dětských či sportovních hřišť a posiloven, městským a obecním úřadům
					spravujících, nebo provozujících herní či sportovní zařízení, provedení inspekcí - revizí v
					souladu s platnými normami ČSN EN. Stručný přehled související legislativy a vydaných norem je
					uveden v odkazu Legislativa.
					Jako držitelé certifikátů vydaných Českou společností pro jakost (CSQ-CERT) a Registračním a
					certifikačním orgánem Hospodářské komory ČR (Q-REGISTER) věříme, že uspokojíme všechny zákazníky
					svou odborností. Jsme připraveni Vám ve vašich záležitostech vždy ochotně pomoci.
				</p>
			</div>
		</div>
	</div>
</section>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/jquery.cip.util.js"></script>