<div id="legislativa">
<!-- Page header -->
<section id="One" class="wrapper style3">
	<div class="inner">
		<header class="align-center">
			<p>Revize dětských, sportovních hřišť, tělocvičen, posiloven a lezeckých stěn</p>
			<h2>Legislativa</h2>
		</header>
	</div>
</section>

<!-- Page text -->
<section id="two" class="wrapper style2">
	<div class="inner">
		<div class="box">
			<div class="content">
				<p>
					Ze značného počtu ČSN EN souvisejících s problematikou revize dětských hřišť, sportovišť,
					tělocvičen, posiloven a lezeckých stěn je níže uveden přehled základních tříd norem, které se k dané
					problematice vztahují.
				</p>
				<ul>
					<li>
						Normy ze třídy 8390 – Sadovnictví a krajinářství
					</li>
					<li>
						Normy ze třídy 9402 – Posilovací nářadí a zařízení
					</li>
					<li>
						Normy ze třídy 9403 – Sportovní a tělocvičné náčiní, nářadí a potřeby
					</li>
					<li>
						Normy ze třídy 9405 – Zařízení pro tělocvičny, hřiště a dětské hřiště
					</li>
					<li>
						Normy ze třídy 9409 – Zařízení pro vodní sporty
					</li>
					<li>
						Normy ze třídy 9420 – Horolezecká výzbroj
					</li>
					<li>
						Normy ze třídy 9428 – Potřeby pro různé sporty
					</li>
					<li>
						Normy ze třídy 9430 – Dětské hračky a vozítka
					</li>
				</ul>
				<p>
					V případě zájmu o tuto problematiku rádi poradíme v otázce řešení jednotlivých sportovních a herních
					zařízení tak, aby vše po provedené revizi odpovídalo příslušné ČSN EN. Stejně tak poradíme i v
					případě výkladu zákonů, nařízení, vyhlášek a předpisů vztahujících se k dané oblasti.
				</p>

				<p>
					Jednotlivé oblasti dané problematiky upravuje řada právních předpisů, mj. zákon
					<a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-ze-dne-24-ledna-1997-o-technickych-pozadavcich-na-vyrobky-a-o-zmene-a-doplneni-nekterych-zakonu-2083.html"
						target="_blank">č. 22/1997 Sb.</a>, o technických požadavcích na výrobky a o změně a doplnění
					některých zákonů; nařízení vlády
					<a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/narizeni-vlady-ze-dne-25-cervna-1997-kterym-se-stanovi-vybrane-vyrobky-k-posuzovani-shody-2152.html"
						target="_blank">č. 173/1997 Sb.</a>, kterým se stanoví vybrané výrobky k posuzování shody; zákon
					<a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-ze-dne-14-cervence-2000-o-ochrane-verejneho-zdravi-a-o-zmene-nekterych-souvisejicich-zakonu-1405.html"
						target="_blank">č. 258/2000 Sb.</a>, o ochraně veřejného zdraví a o změně některých
					souvisejících zákonů; nařízení vlády
					<a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/narlzenl-vlady-ze-dne-9-prosince-2002-kterym-se-stanovi-technicke-pozadavky-na-hracky-4328.html"
						target="_blank">č. 19/2002 Sb</a>, kterým se stanoví technické požadavky na hračky; vyhlášku
					<a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/vyhlaska-ze-dne-10-srpna-2011-o-stanoveni-hygienickych-pozadavku-na-koupaliste-sauny-a-hygienicke-limity-pisku-v-piskovistich-venkovnich-hracich-ploch-18451.html"
						target="_blank">č. 238/2011 Sb.</a>, o stanovení hygienických požadavků na koupaliště, sauny a
					hygienické limity písku v pískovištích venkovních hracích ploch; metodický pokyn MŠMT <a
						href="http://aplikace.msmt.cz/PDF/JKMPBOZzakudoPV.pdf" target="_blank">č. j. 37014/2005-25</a> k
					zajištění bezpečnosti a ochrany zdraví dětí, žáků a studentů ve školách a školských zařízeních
					zřizovaných Ministerstvem školství, mládeže a tělovýchovy vydaný na základě zákona <a
						href="http://www.epravo.cz/top/zakony/sbirka-zakonu/zakon-ze-dne-24-zari-2004-o-predskolnim-zakladnim-strednim-vyssim-odbornem-a-jinem-vzdelavani-skolsky-zakon-14212.html"
						target="_blank">č. 561/2004 Sb.</a>, o předškolním, základním, středním, vyšším odborném a jiném
					vzdělávání (školský zákon); vyhlášku
					<a href="http://www.epravo.cz/top/zakony/sbirka-zakonu/vyhlaska-ze-dne-29-prosince-2004-o-predskolnim-vzdelavani-14398.html"
						target="_blank">č. 14/2005 Sb.</a>, o předškolním vzdělávání; vyhlášku <a
						href="http://www.epravo.cz/top/zakony/sbirka-zakonu/vyhlaska-ze-dne-18-ledna-2005-o-zakladnim-vzdelavani-a-nekterych-nalezitostech-plneni-povinne-skolni-dochazky-14445.html"
						target="_blank">č. 48/2005 Sb.</a>
					, o základním vzdělávání a některých náležitostech plnění povinné školní docházky; vyhlášku <a
						href="http://www.epravo.cz/top/zakony/sbirka-zakonu/vyhlaska-ze-dne-4-rijna-2005-o-hygienickych-pozadavcich-na-prostory-a-provoz-zarizeni-a-provozoven-pro-vychovu-a-vzdelavani-deti-a-mladistvych-14931.html"
						target="_blank">č. 410/2005 Sb.</a>, o hygienických požadavcích na prostory a provoz zařízení a
					provozoven pro výchovu a vzdělávání dětí a mladistvých.
				</p>
			</div>
		</div>
	</div>
</section>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/jquery.cip.util.js"></script>