<div id="kontakty">

<section class="bg2">
	<div class="inner">

		<div id=kontakty>
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Come and have fun with us</p>
						<h2>Maybe a little oil</h2>
					</header>
					<p>
					<ul class="actions align-center">
						<li><a href="mailto: revize.dht@email.cz" target="_blank"
								class="button alt icon fa-envelope-o">Email</a></li>
						<li><a href="tel: +420736536837" class="button alt icon fa-phone">+420 736536837</a></li>
					</ul>
					<!--footer class="align-center">
									<a href="kontakty.html" class="button alt">Kontakty</a>
								</footer-->
				</div>
			</div>
		</div>

	</div>
</section>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/jquery.cip.util.js"></script>